body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color:rgba(200,180,200,.3);
}
#quote-box{
  min-width:150px;
  display: table;
  text-align: center;
  margin-top:12%;
  background-color:rgba(200,180,200,.5);
  padding:15px;
  border-radius:20px;
}
#new-quote{
  color:white;
  background-color:rgb(200,190,250);
  border:0px;
  border-radius:5px;
  padding:7px;
  float: right;
}
#author{
  margin-top:10px;
}
#tweet-img{
  width:20px;
}
#tweet-quote{
  float: left;
  text-decoration:none;
}
